/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: var(--bg-image-dark);
  --accent-color: #FF0070;
  --title-text-color: #000028;
  --text-color: #F1B2CE;
  --decoration-color: #DB00FF;
  --title-bg-color: #FF0070;
}