/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: var(--bg-image-light);
  --accent-color: #353430;
  --title-text-color: #353430;
  --text-color: #353430;
  --decoration-color: #FFC2E6;
  --title-bg-color: #FF8DCB;
}

:root.theme-light .decorated-zone__REC {
  display: none;
}