/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000028;
}

.header {
  position: relative;
  display: block;
  max-inline-size: 1024px;
  block-size: 768px;
  margin-block-start: 20px;
  margin-right: 20px;
}

.header::before {
  content: "";
  display: flex;
  justify-self: end;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header::after {
  content: "";
  display: flex;
  align-self: end;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  margin-block-start: 90px;
  margin-left: 20px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 20px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-item {
  font-family: var(--main-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--main-font-size);
  line-height: 18px;
  color: var(--accent-color);
}

.decorated-zone__REC {
  position: absolute;
  display: flex;
  align-items: center;
  right: 9px;
  gap: 8px;
  font-family: var(--main-font-family);
  font-weight:  var(--text-font-weight);
  font-size: var(--main-font-size);
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.decorated-zone__REC::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone__no-focus {
  display: flex;
  align-self: center;
  max-inline-size: 759px;
  max-block-size: 130px;
  font-family: var(--main-font-family);
  font-weight: var(--title-font-weight);
  font-size: 157px;
  line-height: 83%;
  color: var(--decoration-color);
  text-shadow: 4px 4px 0 var(--title-bg-color);
  margin-block-start: 275px;
}

.title-decor {
  font-family: var(--main-font-family);
  font-weight: var(--title-font-weight);
  font-size: var(--main-font-size);
  color: var(--title-text-color);
  background-color: var(--title-bg-color);
  line-height: 23.4px;
}

.decorated-zone__title {
  display: flex;
  justify-self: end;
  white-space: pre-line;
  max-inline-size: 491px;
  max-block-size: 71px;
  margin-block-start: 115px;
}

.main {
  margin-block-start: 60px;
  margin-block-end: 60px;
  max-inline-size: 1024px;
  block-size: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.section {
  margin-block-end: 80px;
}

.section--double {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.section--triple {
  display: grid;
  grid-template-rows: auto auto;
  margin-block-start: 80px;
  margin-block-end: 80px;
  max-inline-size: 1024px;
  max-block-size: 498px;
}

.section--triple .section__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-inline-size: 984px;
  max-block-size: 431px;
}

.section__title {
  font-family: var(--main-font-family);
  font-weight: var(--title-font-weight);
  font-size: var(--main-font-size);
  line-height: 23.4px;
  color: var(--accent-color);
}

.section__title--why {
  max-inline-size: 314px;
  max-block-size: 47px;
}

.section__title--what {
  inline-size: 315px;
  block-size: 47px;
  margin-block-end: 20px;
}

.section__title--how {
  inline-size: 315px;
  max-block-size: 98px;
}

.section__title--gallery {
  margin-block-end: 20px;
  color: var(--title-text-color);
}

.section__subtitle-wrapper {
  grid-column: 1;
  grid-row: 1;
}

.section__subtitle {
  inline-size: 649px;
  max-block-size: 23px;
  margin-block-end: 20px;
}

.section__cards-list {
  grid-column: 2;
  grid-row: 1;
}

.card--multitasking {
  max-inline-size: 649px;
  max-block-size: 244px;
  margin-block-end: 20px;
}

.card--dopamine {
  max-inline-size: 649px;
  max-block-size: 244px; 
  margin-block-end: 0px; 
}

.card--concentration {
  max-inline-size: 315px;
  max-block-size: 384px;
}

.card--meal {
  max-inline-size: 315px;
  max-block-size: 361px;
}

.card--gadgets {
  max-inline-size: 315px;
  max-block-size: 431px;
}

.card--imagine,
.card--turn_on,
.card--take_walk,
.card--eat_well,
.card--read_it {
  max-inline-size: 649px;
  margin-block-end: 20px;
}

.card--read_it {
  margin-block-end: 0px;
}

.card__title {
  font-family: var(--main-font-family);
  font-weight: var(--title-font-weight);
  font-size: var(--main-font-size);
  color: var(--title-text-color);
  background-color: var(--title-bg-color);
  line-height: 23.4px;
  margin-block-end: 10px;
}

.card__title--why {
  inline-size: 649px;
  block-size: 23px;
  margin-block-end: 10px;
}

.card__title--what {
  inline-size: 315px;
  block-size: 23px;
  margin-block-end: 10px;
}

.card__title--how {
  inline-size: 649px;
  max-block-size: 23px;
  margin-block-end: 10px;
}

.card__text {
  font-family: var(--main-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--main-font-size);
  color: var(--text-color);
  line-height: 23.4px;
}

.card__text--why {
  max-inline-size: 649px;
  max-block-size: 211px;
}

.card__text--what {
  max-inline-size: 315px;
}

.card__text--concentration {
  max-inline-size: 315px;
  max-block-size: 351px;
}

.card__text--meal {
  max-inline-size: 315px;
  max-block-size: 328px;
}

.card__text--gadgets {
  max-inline-size: 315px;
  max-block-size: 398px;
}

.card__text--imagine {
  inline-size: 649px;
  max-block-size: 211px;
}

.card__text--turn_on {
  inline-size: 649px;
  max-block-size: 117px;
}

.card__text--take_walk {
  inline-size: 649px;
  max-block-size: 163px;
}

.card__text--eat_well {
  inline-size: 649px;
  max-block-size: 118px;
}

.card__text--read_it {
  max-inline-size: 649px;
  max-block-size: 117px;
}

.link-decor {
  text-shadow: 2px 2px 0px var(--title-bg-color);
}

.section--gallery {
  max-inline-size: 1024px;
  block-size: 1091px;
  margin-block-end: 60px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-inline-size: 984px;
}

.gallery__image {
  max-inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}

.gallery__image--sunset {
  inline-size: 650px;
  block-size: 260px;
  grid-column: 1/3;
}

.gallery__image--ice-cream {
  inline-size: 314px;
  block-size: 595px;
  grid-column: 3/3;
  grid-row: 1/3;
}

.gallery__image--tape {
  inline-size: 315px;
  block-size: 768px;
  grid-column: 1;
  grid-row: 2/4;
}

.gallery__image--books {
  inline-size: 315px;
  block-size: 315px;
}

.gallery__image--street {
  inline-size: 649px;
  block-size: 433px;
  grid-column: 2/4;
}

.footer {
  display: grid;
  max-inline-size: 1024px;
  block-size: 768px;
}

.decorated-zone__focus {
  display: flex;
  justify-self: center;
  align-self: center;
  max-inline-size: 471px;
  max-block-size: 130px;
  font-family: var(--main-font-family);
  font-weight: var(--title-font-weight);
  font-size: 157px;
  line-height: 83%;
  color: var(--decoration-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

.footer::before {
  content: "";
  display: flex;
  justify-self: end;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  margin-right: 20px;
}

.footer::after {
  content: "";
  display: flex;
  align-self: end;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  margin-block-end: 20px;
  margin-left: 20px;
}

@media (width <= 768px) {
  .header {
    max-inline-size: 768px;
    block-size: 1024px;
  }

  .header::after {
    margin-block-start: 140px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-self: end;
    margin-block-start: 170px;
  }

  .decorated-zone__no-focus {
    max-inline-size: 577px;
    block-size: 99px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: 165px;
  }

  .decorated-zone__title {
    max-inline-size: 364px;
    max-block-size: 117px;
    align-self: center;
    margin-block-start: 160px;
  }

  .main {
    max-inline-size: 768px;
  }

  .section {
    max-inline-size: 768px;
  }

  .section--double {
    max-inline-size: 768px;
    block-size: 648px;
  }

  .section-second-double {
    display: grid;
    grid-template-columns: auto auto;
    max-inline-size: 768px;
    block-size: 1296px;
    gap: 20px;
  }

  .section--triple {
    grid-template-rows: auto 1fr;
    max-inline-size: 768px;
    min-block-size: 675px;
    margin-block-start: 80px;
    margin-block-end: 80px;
  }

  .section--triple .section__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-inline-size: 728px;
    max-block-size: auto;
  }

  .section__title--why {
    max-inline-size: 236px;
    min-block-size: 71px;
  }

  .section__title--what {
    max-inline-size: 236px;
    min-block-size: 70px;
  }

  .section__title--how {
    max-inline-size: 236px;
    block-size: 98px;
  }

  .section__subtitle-wrapper {
    grid-column: 1;
    grid-row: 1;
  }

  .section__subtitle {
    max-inline-size: 472px;
    block-size: 23px;
    margin-block-end: 10px;
  }

  .section__cards-list {
    grid-column: 1;
    grid-row: 2;
  }

  .card--multitasking {
    max-inline-size: 472px;
    max-block-size: 314px;
  }

  .card--dopamine {
    max-inline-size: 472px;
    max-block-size: 314px;
  }

  .card--concentration,
  .card--meal,
  .card--gadgets {
    max-inline-size: 728px;
    max-block-size: auto;
  }

  .card--imagine,
  .card--turn_on,
  .card--take_walk,
  .card--eat_well,
  .card--read_it {
    max-inline-size: 472px;
    margin-block-end: 20px;
  }

  .card--read_it {
    margin-block-end: 0px;
  }

  .card__title--why {
    max-inline-size: 472px;
    max-block-size: auto;
    margin-block-end: 10px;
  }

  .card__title--what {
    inline-size: 728px;
    block-size: 23px;
  }

  .card__title--how {
    max-inline-size: 472px;
    max-block-size: auto;
    margin-block-end: 10px;
  }

  .card__text--why {
    max-inline-size: 472px;
    min-block-size: 281px;
  }

  .card__text--concentration {
    max-inline-size: 728px;
    max-block-size: auto;
  }

  .card__text--meal {
    max-inline-size: 728px;
    max-block-size: auto;
  }

  .card__text--gadgets {
    max-inline-size: 728px;
    max-block-size: auto;
  }

  .card__text--imagine {
    max-inline-size: 472px;
    max-block-size: 281px;
  }

  .card__text--turn_on {
    max-inline-size: 472px;
    max-block-size: 164px;
  }

  .card__text--take_walk {
    max-inline-size: 472px;
    max-block-size: 257px;
  }

  .card__text--eat_well {
    max-inline-size: 472px;
    max-block-size: 163px;
  }

  .card__text--read_it {
    max-inline-size: 472px;
    max-block-size: 141px;
  }

  .section--gallery {
    max-inline-size: 768px;
    max-block-size: 823px;
  }

  .gallery {
    max-inline-size: 728px;
    max-block-size: 780px;
  }

  .gallery__image--sunset {
    max-inline-size: 479px;
    max-block-size: 192px;
  }

  .gallery__image--ice-cream {
    max-inline-size: 229px;
    max-block-size: 442px;
  }

  .gallery__image--tape {
    max-inline-size: 229px;
    max-block-size: 568px;
  }

  .gallery__image--books {
    max-inline-size: 230px;
    max-block-size: 230px;
  }

  .gallery__image--street {
    max-inline-size: 479px;
    max-block-size: 318px;
  }

  .decorated-zone__focus {
    max-inline-size: 360px;
    max-block-size: 90px;
    font-size: 120px;
  }
}


@media (width <= 375px) {
  .header {
    max-inline-size: 375px;
    max-block-size: 668px;
    margin-block-start: 10px;
    margin-right: 10px;
  }

  .header::after {
    margin-left: 10px;
    margin-block-end: 0px;
    margin-block-start: 30px;
  }

  .header__theme-menu-list {
    margin-block-start: 65px;
  }

  .decorated-zone__no-focus {
    max-inline-size: 355px;
    block-size: 192px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-start: 60px;
    justify-self: center;
    margin-left: 10px;
  }

  .decorated-zone__title {
    max-inline-size: 355px;
    max-block-size: 117px;
    margin-left: 10px;
    margin-block-start: 115px;
  }

   .main {
    max-inline-size: 375px;
    margin: 0px 10px;
  }

  .section {
    max-inline-size: 375px;
    margin-block-end: 20px;
  }

  .section--double {
    display: grid;
    grid-template-columns: 1fr;
    block-size: 949px;
    margin-block-start: 40px;
  }

  .section-second-double {
    max-inline-size: 355px;
    min-block-size: 1737px;
    margin-block-end: 50px;
  }

  .section--triple {
    max-inline-size: 375px;
    min-block-size: 1119px;
    margin-block-start: 50px;
    margin-block-end: 50px;
  }

  .section--triple .section__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-inline-size: 355px;
    max-block-size: auto;
  }

  .section__title--why {
    max-inline-size: 355px;
    min-block-size: 47px;
  }

  .section__title--what {
    max-inline-size: 355px;
    min-block-size: 47px;
  }

  .section__title--how {
    max-inline-size: 355px;
    max-block-size: 70px;
  }

  .section__subtitle-wrapper {
    grid-column: 1;
    grid-row: 1;
  }

  .section__subtitle {
    max-inline-size: 355px;
    min-block-size: 47px;
    margin-block-end: 20px;
  }

  .section__cards-list {
    grid-column: 1;
    grid-row: 2;
  }

  .card {
    max-inline-size: 355px;
    max-block-size: auto;
    margin-block-end: 20px;
  }

  .card--multitasking {
    max-inline-size: 355px;
    max-block-size: 431px;
    margin-block-end: 20px;
  }

  .card--dopamine {
    max-inline-size: 355px;
    max-block-size: 431px;
    margin-block-end: 0px;
  }

  .card--concentration {
    max-inline-size: 355px;
    max-block-size: 314px;
    margin-block-end: 0px;
  }

  .card--meal {
    max-inline-size: 355px;
    max-block-size: 314px;
    margin-block-end: 0px;
  }

  .card--gadgets {
    max-inline-size: 355px;
    max-block-size: 384px;
    margin-block-end: 0px;
  }

  .card--imagine {
    max-inline-size: 355px;
    max-block-size: 408px;
    margin-block-end: 20px;
  }

  .card--turn_on {
    max-inline-size: 355px;
    max-block-size: 244px;
    margin-block-end: 20px;
  }

  .card--take_walk {
    max-inline-size: 355px;
    max-block-size: 384px;
    margin-block-end: 20px;
  }

  .card--eat_well {
    max-inline-size: 355px;
    max-block-size: 244px;
    margin-block-end: 20px;
  }

  .card--read_it {
    max-inline-size: 355px;
    max-block-size: 220px;
    margin-block-end: 0px;
  }

  .card__title--why {
    max-inline-size: 355px;
    max-block-size: 23px;
    margin-block-end: 10px;
  }

  .card__title--what {
    max-inline-size: 355px;
    max-block-size: 24px;
    margin-block-end: 10px;
  }

  .card__title--how {
    max-inline-size: 355px;
    max-block-size: 23px;
    margin-block-end: 10px;
  }

  .card__text--why {
    max-inline-size: 351px;
    max-block-size: 398px;
  }

  .card__text--concentration {
    max-inline-size: 355px;
    max-block-size: 281px;
  }

  .card__text--meal {
    max-inline-size: 355px;
    max-block-size: 281px;
  }

  .card__text--gadgets {
    max-inline-size: 355px;
    max-block-size: 351px;
  }

  .card__text--imagine {
    max-inline-size: 355px;
    max-block-size: 375px;
  }

  .card__text--turn_on {
    max-inline-size: 355px;
    max-block-size: 211px;
  }

  .card__text--take_walk {
    max-inline-size: 355px;
    max-block-size: 351px;
  }

  .card__text--eat_well {
    max-inline-size: 355px;
    max-block-size: 211px;
  }

  .card__text--read_it {
    max-inline-size: 355px;
    max-block-size: 187px;
  }

  .section--gallery {
    max-inline-size: 375px;
    min-block-size: 1400px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-inline-size: 355px;
    max-block-size: auto;
    margin-block-end: 40px;
  }

  .gallery__image--sunset {
    max-inline-size: 355px;
    max-block-size: 142px;
    grid-row: 1;
  }

  .gallery__image--ice-cream {
    min-inline-size: 355px;
    max-block-size: 355px;
    grid-column: 1;
    grid-row: 2;
  }

  .gallery__image--tape {
    min-inline-size: 355px;
    max-block-size: 237px;
    grid-row: 3;
  }

  .gallery__image--books {
    min-inline-size: 355px;
    max-block-size: 355px;
    grid-row: 4;
  }

  .gallery__image--street {
    max-inline-size: 355px;
    max-block-size: 237px;
    grid-column: 1;
  }

  .footer {
    max-inline-size: 375px;
    max-block-size: 668px;
  }

  .footer::before {
    margin-right: 10px;
    margin-block-start: 10px;
  }

  .footer::after {
    margin-left: 10px;
    margin-block-end: 10px;
  }

  .decorated-zone__focus {
    max-inline-size: 348px;
    max-block-size: 96px;
    font-size: 116px;
  }
}
